input, .component {
    display: inline;
}

#mixingBoard > input {
    width: 100%;
    margin: 1% 0;
}

.componente {
    margin: 1% 0;
    padding: 1% 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#mixingBoard {
    background-color: #ff008d;
    min-height: 100vh;
    padding: 1% 2%;
}

#preview {
    background-color: #48d754;
}

.componente {
    background-color: #ff9eea;
}